# neon database connection settings
DATABASE_URL="postgresql://..."
CIEL_ID="YOUR_DEVELOPER_CIEL"
CRON_SECRET=""
CIEL_API_SECRET=""
CHANNEL_ACCESS_TOKEN=""
CHANNEL_SECRET=""
SPREADSHEETS_API_KEY=""
ASANA_ACCESS_TOKEN=""
